# Ignore node_modules
node_modules

# Ignore git files
.git
.gitignore

# Ignore Next.js build output
.next
out

# Ignore logs
logs
*.log

# Ignore tests
test
coverage

# Ignore environment files
.env*

#Ignore others
.swc