.detailBox {
    border: var(--main-ui-borders);
}

.detailBox summary{
    background-color: var(--main-ui-secondary-background);
    
}

.detailBox[open] summary{
    border-bottom: var(--main-ui-borders);
}

.detailTable {
    border: var(--main-ui-borders);
    background-color: var(--main-ui-secondary-background);
}

.detailTable > thead {
    font-weight: bold;
    text-align: center;
    border: var(--main-ui-borders);
}

.detailTable > thead > tr > th{
    padding:1em;
}

.detailTable > tbody > tr > td {
    padding: 1em;
    border: var(--main-ui-borders);
}

.detailTable > tbody > tr > td.center {
    text-align: center;
    vertical-align: center;
}