.bg{
    background-color: var(--main-ui-secondary-background);
    min-height: 100vh;
}

.mainContainer{
    background-color: var(--main-ui-default-background);
    border: var(--main-ui-borders);
    padding:0;
}

.mainContainer > div:first-of-type{
    display:flex;
    justify-content: center;
    padding: 1em;
    border-bottom: var(--main-ui-borders);
}

.navegationTabs{
    display:flex;
    flex-direction: column;
    padding: 0;
    border-right: var(--main-ui-borders);
    
}

.navegationTabs img{
    margin: 1em 0.25em;
    background-color: var(--main-ui-default-background);
}

.navegationTabs .buttonContainer{
    display:flex;
    flex-direction: column;
    padding: 0;
    background-color: var(--main-ui-third-background);
    height: 100%;
}

.navegationTabs .buttonContainer button {
    border-radius: 0;
}

.paneContainer{
    padding: 1em;
}