.aside {
	border-right: 1px solid #ccc;
	height: 100%;
	z-index: 6;
	color: var(--aside-font-color);
	background-color: var(--aside-background-color);
	display: flex;
	flex-direction: column;
	font-family: var(--aside-font-family);
}

.aside form {
	overflow-y: auto;
	flex-grow: 1;
}

.uniadaptive {
	position: relative;
	padding-top: 0em;
	background-color: var(--aside-logo-background-color);
}

.uniadaptive:hover,
.uniadaptive:focus-visible {
	padding-top: 2em;
}

.uniadaptive span {
	position: absolute;
	top: 0;
	right: 0px;
	display: block;
	font-size: 1.25rem;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-in;
	transition-delay: 0.2s;
}

.uniadaptive:hover span,
.uniadaptive:focus-visible span {
	visibility: visible;
	opacity: 1;
}

.uniadaptive.noAnimation {
	transition: none;
	padding-top: 2em;
}

.uniadaptive > span > svg {
	width: 24px;
	height: 24px;
	color: var(--aside-collapse-icon-color);
	background-color: var(--aside-collapse-icon-background-color);
}

.uniadaptive.noAnimation span {
	transition: none;
	visibility: visible;
	opacity: 1;
}

.uniadaptiveDetails {
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	transition: all 0.2s;
	margin-bottom: 1.5em;
}

.uniadaptiveDetails.active {
	opacity: 1;
	visibility: visible;
	max-height: inherit;
}

.uniadaptiveDetails.noAnimation {
	transition: none;
}

@media screen and (prefers-reduced-motion: reduce) {
	.uniadaptive {
		transition: none;
		padding-top: 2em;
	}
	.uniadaptive span {
		transition: none;
		visibility: visible;
		opacity: 1;
	}

	.uniadaptiveDetails {
		transition: none;
	}
}

.uniadaptive:hover h1 {
	text-decoration: underline;
}

.uniadaptive p {
	font-size: 1.25rem;
}
