.react-flow__node:has(.moodleIcon) img{
    filter: invert();
}

/* -- MOODLE SPECIFIC -- */

/* Quiz */
.react-flow__node-quiz:has(.moodleIcon){
    background-color: #5D63F6;
}

.react-flow__node-quiz:has(.moodleIcon):hover, .react-flow__node-quiz:has(.moodleIcon):focus-visible, .react-flow__node-quiz:has(.moodleIcon):active{
    background-color: #7d82f8;
}

/* Assign */
.react-flow__node-assign:has(.moodleIcon){
    background-color: #5D63F6;
}

.react-flow__node-assign:has(.moodleIcon):hover, .react-flow__node-assign:has(.moodleIcon):focus-visible, .react-flow__node-assign:has(.moodleIcon):active{
    background-color: #7d82f8;
}

/* Forum */
.react-flow__node-forum:has(.moodleIcon) {
	background-color: #11A676;
}

.react-flow__node-forum:has(.moodleIcon):hover, .react-flow__node-forum:has(.moodleIcon):focus-visible, .react-flow__node-forum:has(.moodleIcon):active {
	background-color: #17e1a0;
}

/* Resource */
.react-flow__node-resource:has(.moodleIcon){
    background-color: #A378FF;
}

.react-flow__node-resource:has(.moodleIcon):hover,  .react-flow__node-resource:has(.moodleIcon):focus-visible, .react-flow__node-resource:has(.moodleIcon):active{
    background-color: #b593ff;
}

/* Folder */
.react-flow__node-folder:has(.moodleIcon){
    background-color: #399BE2;
}

.react-flow__node-folder:has(.moodleIcon):hover,  .react-flow__node-folder:has(.moodleIcon):focus-visible, .react-flow__node-folder:has(.moodleIcon):active{
    background-color: #61afe8;
}

/* URL */
.react-flow__node-url:has(.moodleIcon){
    background-color: #EB66A2;
}

.react-flow__node-url:has(.moodleIcon):hover,  .react-flow__node-url:has(.moodleIcon):focus-visible, .react-flow__node-url:has(.moodleIcon):active{
    background-color: #ef85b5;
}

/* Mail */
.react-flow__node-mail:has(.moodleIcon){
    background-color: #399BE2;
}

.react-flow__node-mail:has(.moodleIcon):hover,  .react-flow__node-mail:has(.moodleIcon):focus-visible, .react-flow__node-mail:has(.moodleIcon):active{
    background-color: #61afe8;
}

/* AddGroup */
.react-flow__node-addgroup:has(.moodleIcon){
    background-color: #11A676;
}

.react-flow__node-addgroup:has(.moodleIcon):hover,  .react-flow__node-addgroup:has(.moodleIcon):focus-visible, .react-flow__node-addgroup:has(.moodleIcon):active{
    background-color: #17e1a0;
}

/* RemGroup */
.react-flow__node-remgroup:has(.moodleIcon){
    background-color: #F7634D;
}

.react-flow__node-remgroup:has(.moodleIcon):hover,  .react-flow__node-remgroup:has(.moodleIcon):focus-visible, .react-flow__node-remgroup:has(.moodleIcon):active{
    background-color: #f98271;
}

/* Workshop */
.react-flow__node-workshop:has(.moodleIcon){
    background-color: #A378FF;
}

.react-flow__node-workshop:has(.moodleIcon):hover,  .react-flow__node-workshop:has(.moodleIcon):focus-visible, .react-flow__node-workshop:has(.moodleIcon):active{
    background-color: #b593ff;
}

/* Choice */
.react-flow__node-choice:has(.moodleIcon){
    background-color: #F7634D;
}

.react-flow__node-choice:has(.moodleIcon):hover,  .react-flow__node-choice:has(.moodleIcon):focus-visible, .react-flow__node-choice:has(.moodleIcon):active{
    background-color: #f98271;
}

/* Label */
.react-flow__node-label:has(.moodleIcon){
    background-color: #F7634D;
}

.react-flow__node-label:has(.moodleIcon):hover,  .react-flow__node-label:has(.moodleIcon):focus-visible, .react-flow__node-label:has(.moodleIcon):active{
    background-color: #f98271;
}


/* Page */
.react-flow__node-page:has(.moodleIcon){
    background-color: #A378FF;
}

.react-flow__node-page:has(.moodleIcon):hover,  .react-flow__node-page:has(.moodleIcon):focus-visible, .react-flow__node-page:has(.moodleIcon):active{
    background-color: #b593ff;
}

/* Badge */
.react-flow__node-badge:has(.moodleIcon) {
	background-color: #11A676;
}

.react-flow__node-badge:has(.moodleIcon):hover, .react-flow__node-badge:has(.moodleIcon):focus-visible, .react-flow__node-badge:has(.moodleIcon):active {
	background-color: #17e1a0;
}

/* Generic */
.react-flow__node-generic:has(.moodleIcon) {
	background-color: #11A676;
}

.react-flow__node-generic:has(.moodleIcon):hover, .react-flow__node-generic:has(.moodleIcon):focus-visible, .react-flow__node-generic:has(.moodleIcon):active {
	background-color: #17e1a0;
}

/* Accesibility */

.react-flow__node:has(.highContrast):has(.moodleIcon) .moodleIcon{
    filter: var(--high-contrast-icons-moodle-filter) !important
}

.react-flow__node:has(.highContrast):has(.moodleIcon):hover .moodleIcon, .react-flow__node:has(.highContrast):has(.moodleIcon):focus-visible .moodleIcon, .react-flow__node:has(.highContrast):has(.moodleIcon):active .moodleIcon{
    filter: var(--high-contrast-icons-moodle-filter-onhover) !important
}

/* Badge only */

.react-flow__node-badge:has(.highContrast):has(.moodleIcon):hover .moodleIcon, .react-flow__node-badge:has(.highContrast):has(.moodleIcon):focus-visible .moodleIcon, .react-flow__node-badge:has(.highContrast):has(.moodleIcon):active .moodleIcon{
    filter: var(--high-contrast-icons-moodle-filter) !important
}