.x128 svg, .x128 img, .x128{
    height: 128px !important;
    width: 128px !important;
}

.x64 svg, .x64 img, .x64{
    height: 64px !important;
    width: 64px !important;
}

.x32 svg, .x32 img, .x32{
    height: 32px !important;
    width: 32px !important;
}

.x16 svg, .x16 img, .x16{
    height: 16px !important;
    width: 16px !important;
}

.x8 svg, .x8 img, .x8{
    height: 8px !important;
    width: 8px !important;
}

.x128,.x64,.x32,.x16,.x8{
    display: flex;
    justify-content: center;
    align-items: center;
}