.container {
	user-select: none;
}

.container > span.blockInfo {

	width: 10em;
	display: -webkit-box;
	padding: 4px 10px;
	border-radius: 0.5rem;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 4rem;
	position:absolute;
	color: black;
	text-align: center;
}

.container > span.blockInfo.top {
	top: -3.25em;
	right: -75%;
}

.container > span.blockInfo.bottom {
	bottom: -3.25em;
	right: -75%;
}


.badge, .badgeTwo {
	position:absolute;
	visibility: hidden;
	opacity: 0;
	color:black;
	transition: all 0.2s;
	transform: rotate(90deg);
}

.badge {
	top: 0px;
	right: -24px;
}

.badgeTwo {
	bottom: 8px;
	right: -24px;
}

.container:hover .badge, .block:focus-visible~.badge, .block.borderAnim ~ .badge, .container:hover .badgeTwo, .block:focus-visible~.badgeTwo, .block.borderAnim ~ .badgeTwo {
	position: absolute;
	transform: translate(-12px, 4px);
	visibility: visible;
	opacity: 100%;
	filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.65));
}

.badge.noAnimation, .badgeTwo.noAnimation  {
	transition: none;
}

.badge.showBadges, .badgeTwo.showBadges {
	position: absolute;
	transform: translate(-12px, 4px);
	visibility: visible;
	opacity: 100%;
	filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.65));
}

@media screen and (prefers-reduced-motion: reduce) {
	.badge, .badgeTwo {
		transition: none;
	}
 }

.container svg{
	pointer-events: none; /* So the right click to the SVG doesn't stop the propagation */
}



/* 
-- Custom buttons --
*/

/* Moodle+Sakai */

.btnQuestionnaire {
	background-color: #eb9408;
	border: 1px solid #eb9408;
}

.btnQuestionnaire:hover, .btnQuestionnaire:focus-visible, .btnQuestionnaire:active {
	background-color: #db8a08 !important;
	border: 1px solid #db8a08 !important;
}

.btnForum {
	background-color: purple;
	border: 1px solid purple;
}

.btnForum:hover, .btnForum:focus-visible, .btnForum:active {
	background-color: #990e99 !important;
	border: 1px solid #990e99 !important;
}


.btnURL {
	background-color: cadetblue;
	border: 1px solid cadetblue;
}

.btnURL:hover, .btnURL:focus-visible, .btnURL:active {
	background-color: #419093 !important;
	border: 1px solid #419093 !important;
}

/* Moodle */

.btnWorkshop {
	background-color: #15a935;
	border: 1px solid #15a935;
}

.btnWorkshop:hover, .btnWorkshop:focus-visible, .btnWorkshop:active {
	background-color: #0f992d;
	border: 1px solid #0f992d;
}

.btnTag {
	background-color: #a91568;
	border: 1px solid #a91568;
}

.btnTag:hover, .btnTag:focus-visible, .btnTag:active {
	background-color: #bf1a78 !important;
	border: 1px solid #bf1a78 !important;
}

/* Sakai */
.btnContents {
	background-color: #15a935;
	border: 1px solid #15a935;
}

.btnContents:hover, .btnContents:focus-visible, .btnContents:active {
	background-color: #0f992d;
	border: 1px solid #0f992d;
}

.btnHTML {
	background-color: #a91568;
	border: 1px solid #a91568;
}

.btnHTML:hover, .btnHTML:focus-visible, .btnHTML:active {
	background-color: #bf1a78 !important;
	border: 1px solid #bf1a78 !important;
}

/* LTI */

.btnFragment {
	background-color:darkblue;
	border: 1px solid darkblue;
}

.btnFragment:hover, .btnFragment:focus-visible, .btnFragment:active {
	background-color: #1d1da9 !important;
	border: 1px solid #1d1da9 !important;
}