.footer {
    flex-shrink: 0;
    border-top: 1px solid #ccc;
    
    position: fixed;
    bottom: 0;
    z-index: 5;
    font-family: var(--footer-font-family);
    color: var(--footer-font-color);
    background: var(--footer-background-color);
    user-select: none;
}

.messageBox {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all .2s;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-family: var(--footer-msgbox-font-family);
    color: var(--footer-msgbox-font-color);
    background: var(--footer-msgbox-background-color);
    user-select: text;
}

.messageBox.expanded{
    opacity: 1;
    visibility: visible;
    max-height: 8em;
}

.messageBox.noAnimation {
    transition:none;
}

@media screen and (prefers-reduced-motion: reduce) {
	.messageBox {
		transition: none;
	}
 }