:root {
  --main-font-color: var(--bs-dark);
  --main-font-family: var(--bs-body-font-family);
  --main-ui-borders: 1px solid #ccc;

  /*
    Square inputs, you need to uncomment the !important on the respective selectors, below to make it work

  --main-ui-button-border-radius: 0;
  --main-ui-input-border-radius: 0;
  */

  --primary-background-color: var(--bs-primary);
  --success-background-color: var(--bs-success);
  --warning-background-color: var(--bs-warning);
  --error-background-color: var(--bs-danger);

  --icons-black-filter: none;
  --icons-white-filter: invert();

  --header-font-color: var(--main-font-color);
  --header-font-family: var(--main-font-family);
  --header-background-color: #fff;
  --header-action-buttons-border-radius: 100%;
  --header-action-buttons-border: none;
  --header-action-buttons-background-color: var(--bs-light);
  --header-action-buttons-svg-filter: none;
  --header-version-dropdown-container-font-color: var(--header-font-color);
  --header-version-dropdown-container-font-family: var(--header-font-family);
  --header-version-dropdown-container-background-color: var(--header-background-color);
  --header-user-image-border-radius: 100%;
  --header-user-image-border: 2px solid white;

  --aside-font-color: var(--main-font-color);
  --aside-font-family: var(--bs-body-font-family);
  --aside-background-color: #f8f8f8;
  --aside-collapse-icon-color: var(--aside-font-color);
  --aside-collapse-icon-background-color: var(--aside-background-color);

  --footer-font-color: var(--main-font-color);
  --footer-font-family: var(--main-font-family);
  --footer-background-color: #fff;
  --footer-msgbox-font-color: var(--main-font-color);
  --footer-msgbox-font-family: var(--bs-font-monospace);
  --footer-msgbox-background-color: var(--footer-background-color);

  --blockflow-font-color: var(--main-font-color);
  --blockflow-font-family: var(--main-font-family);
  --blockflow-background-color: none;
  --blockflow-text-background-color: none;
  --blockflow-node-border: 2px solid #101011;
  --blockflow-node-border-radius: 4px;
  --blockflow-edge-background: #f8f8f8;
  --blockflow-edge-border: var(--blockflow-node-border);
  --blockflow-edge-border-radius: var(--blockflow-node-border-radius);
  --blockflow-edge-font-color: var(--blockflow-font-color);
  --blockflow-controls-border: none;
  --blockflow-controls-button-background-color: white;
  --blockflow-controls-button-font-color: black;
  --blockflow-controls-button-border: 1px solid #eee;
  --blockflow-controls-button-svg-filter: none;
  --blockflow-handles-border-radius: 100%;

  --high-contrast-accent-color1: white;
  --high-contrast-accent-color2: black;
  --high-contrast-details-font-color: var(--high-contrast-accent-color1);
  --high-contrast-details-background-color: var(--high-contrast-accent-color2);
  --high-contrast-details-border: 1px solid white;
  --high-contrast-icons-fa-filter: var(--icons-white-filter);
  --high-contrast-icons-fa-filter-onhover: var(--icons-black-filter);
  --high-contrast-icons-moodle-filter: var(--icons-black-filter);
  --high-contrast-icons-moodle-filter-onhover: var(--icons-white-filter);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*

    Example:

    --main-font-color: var(--bs-light);
    --main-font-family: var(--bs-body-font-family);
    --main-ui-borders: 1px solid #ccc;
    --main-ui-button-radius: auto;
    --success-background-color: var(--bs-success);
    --warning-background-color: var(--bs-warning);
    --error-background-color: var(--bs-danger);

    --icons-black-filter: invert();
    --icons-white-filter: none;

    --header-font-color: var(--main-font-color);
    --header-font-family: var(--main-font-family);
    --header-background-color: #293137;
    --header-action-buttons-border-radius: 100%;
    --header-action-buttons-border: none;
    --header-action-buttons-background-color: var(--bs-dark);
    --header-action-buttons-svg-filter: invert();
    --header-version-dropdown-container-font-color: var(--header-font-color);
    --header-version-dropdown-container-font-family: var(--header-font-family);
    --header-version-dropdown-container-background-color: var(--header-background-color);
    --header-user-image-border-radius: 100%;
    --header-user-image-border: 2px solid white;

    --aside-font-color: #f8f8f8;
    --aside-background-color: #161b20;
    --aside-collapse-icon-color: var(--aside-font-color);
    --aside-collapse-icon-background-color: var(--aside-background-color);

    --footer-font-color: var(--main-font-color);
    --footer-font-family: var(--main-font-family);
    --footer-background-color: #293137;
    --footer-msgbox-font-color: var(--main-font-color);
    --footer-msgbox-font-family: var(--bs-font-monospace);
    --footer-msgbox-background-color: var(--footer-background-color);

    --blockflow-font-color: var(--main-font-color);
    --blockflow-font-family: var(--main-font-family);
    --blockflow-background-color: #161b20;
    --blockflow-text-background-color: none;
    --blockflow-node-border: 2px solid white;
    --blockflow-controls-border: none;
    --blockflow-controls-button-background-color: #161b20;
    --blockflow-controls-button-font-color: white;
    --blockflow-controls-button-border: 1px solid #eee;
    --blockflow-controls-button-svg-filter: invert();
    --blockflow-icons-moodle-filter: invert();
    --blockflow-handles-border-radius: 100%;
    --blockflow-node-border-radius: 4px;
    
    --high-contrast-accent-color1: black;
    --high-contrast-accent-color2: white;
    --high-contrast-details-font-color: var(--high-contrast-accent-color1);
    --high-contrast-details-background-color: var(--high-contrast-accent-color2);
    --high-contrast-details-border: 1px solid black;
    --high-contrast-icons-fa-filter: var(--icons-white-filter);
    --high-contrast-icons-fa-filter-onhover: var(--icons-black-filter);
    --high-contrast-icons-moodle-filter: var(--icons-black-filter);
    --high-contrast-icons-moodle-filter-onhover: var(--icons-white-filter);
    */
  }
}

button {
  border-radius: var(--main-ui-button-border-radius) /*!important*/;
}

input, select {
  border-radius: var(--main-ui-input-border-radius) /*!important*/;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: var(--main-font-family);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
