.mapContainer {
    display: flex;
    position: absolute;
    bottom: -3em;
    height: 3em;
    animation: slide 0.5s ease-out;
    background:transparent;
    z-index: 2;
}

.dropdown-item:active{
    background-color: #198754!important;
}

.toggleButton::after {
    display: none !important;
}

.actionsBorder, .actionsBorder:hover{
    border-radius: var(--header-action-buttons-border-radius);
    border: var(--header-action-buttons-border);
    background-color: var(--header-action-buttons-background-color);
}

.actionsBorder.success, .actionsBorder.success:hover{
    background-color: var(--success-background-color)
}

.actionsBorder.warning, .actionsBorder.warning:hover{
    background-color: var(--warning-background-color)
}

.actionsBorder.error, .actionsBorder.error:hover{
    background-color: var(--error-background-color)
}

.actionsBorder svg {
    filter: var(--header-action-buttons-svg-filter);
}

.mapContainer.noAnimation, .mapContainer.noAnimation {
	animation: none;
    animation: 0s;
}

@media screen and (prefers-reduced-motion: reduce) {
	.mapContainer, .mapContainer {
		animation: 0s;
	}
 }

.icon:hover{
    -webkit-filter: brightness(70%);
}

@keyframes slide {
    from {left:-10em}
    to {left:0}
  }

.mapText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0.5em;
    box-shadow: 0 8px 6px -6px #ccc;
    border-bottom: 1px solid #ccc;
    background-color: var(--header-version-dropdown-container-background-color);
    color: var(--header-version-dropdown-container-font-color);
    font-family: var(--header-version-dropdown-container-font-family);
}

.mapText button {
    color: var(--header-version-dropdown-container-font-color);
    font-family: var(--header-version-dropdown-container-font-family);
}

.mapText p{ margin:0}

.mapTriangle {
    height: 3em;
    width: 3em;
    overflow:hidden;
    position: relative;
}

.mapTriangle::after {
    content: '';
    background-color: var(--header-version-dropdown-container-background-color);
    box-shadow: 8px 0px 6px -6px #ccc;
    border: 1px solid #ccc;
    width: 142%;
    height: 142%;
    position:absolute;
    transform: rotate(45deg) translate(-71%,0);
}

.caret{
    display: flex;
    align-items: center;
}

.header {
    z-index: 5;
    position:relative;
    background-color: var(--header-background-color);
    color: var(--header-font-color);
    font-family: var(--header-font-family);
}

.header>nav {
    border-bottom: 1px solid #ccc;
}

.userProfile {
    border-radius: var(--header-user-image-border-radius);
	border: var(--header-user-image-border);
}

.userSettings a{
    color: var(--header-font-color);
    text-decoration: none;
}

.userSettings a:hover{
    text-decoration: underline;
}